<title>CADASTRO FOTO | Ciclo Moreti</title>
    {% extends 'template_base/template_base.html' %}

    {% block titulo %}
    <div class="text-center mt-3 h4">
        CADASTRAR FOTO
    </div>
    {% endblock titulo %}

{% block centro %}
{% if user.is_authenticated %}
<form method="POST" class="container">
    {% csrf_token %}
    <div class="form-row">
        <!-- <div class="form-group w-30 mr-3">
            <label for="idFotoUsuario">Insira uma foto:</label>
            <div class="mt-3">
                <input type="file" name="idFotoUsuario" id="idFotoUsuario" class="btn bg-gradient-primary text-white text-center"
                    accept="image/png, image/jpeg" multiple />
            </div>
        </div> -->
      
        <!-- <div class="d-none">
            <label for="id_usuario">Usuário</label>
            <select class="form-control" id="id_usuario" name="id_usuario">
                <option value="{{user.pk}}">{{ user }}</option>
            </select>
        </div>
    </div>

    <input type="submit" class="btn bg-gradient-primary " style="color: white;" value="Salvar">
    <!-- <a class="btn  bg-gradient-primary" style="color: white;" href="{% url 'listaTelefones' %}"
        title="Lista de Telefones"><i class="fas fa-list-ul"></i>
    </a> -->
</form>
{% else %}
{% endif %} 
{% endblock %}