<title>MEUS DADOS | Ciclo Moreti</title>
{% extends 'template_base/template_base.html' %}
{% block titulo %}
<div class="text-center mt-3 h4">
    MEUS DADOS
</div>
{% endblock titulo %}
{% block centro %}

<form>
    <div class="container border">
        <div class="text-center d-block">
            <img class="mt-1 text-center rounded-circle" src="#"
                style="width: 150px;">
              <div class="mt-3">
                <input type="file" name="arquivos" class="btn bg-gradient-primary text-white text-center" accept="image/png, image/jpeg"
                multiple />
            </div> 
        </div>
        {% for user in dadosUsuario %}
        <div class="mt-3 ">
            <label for="Nome">Nome: </label>
            <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="nome"
                value="{{user.first_name}}">
        </div>


        <div class="mt-3">
            <label for="SobreNome">SobreNome:</label>
            <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="SobreNome"
                value="{{user.last_name}}">
        </div>
        <div class="mt-3">
            <label for="email">Endereço de e-mail: </label>
            <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="email"
                value="{{user.email}}">
        </div>
        <div class="mt-3 mb-5">
            <label for="Email">Usuário: </label>
            <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="email"
                value="{{user.username}}">
        </div>
        
    </div>
</form>
{% endfor %}

{% endblock centro %}