<title>MEUS DADOS | Ciclo Moreti</title>
{% extends 'template_base/template_base.html' %}
{% block titulo %}
<div class="text-center mt-3 h4">
    MEUS DADOS
</div>
{% endblock titulo %}
{% block centro %}

<form>
    <div class="box_meus_dados container">
        <div class="text-center d-block">
            {% for foto_usuario in mostrar_foto_usuario %}
            <img class="mt-1 text-center" style="border-radius: 30px; width: 250px;" src="/media/{{foto_usuario.foto_usuarios}}" style="">
            {% endfor %}
        </div>
        {% for user in dadosUsuario %}
        <div class="mt-3 ">
            <label for="Nome">Nome: </label>
            <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="nome"
                value="{{user.first_name}}">
        </div>


        <div class="mt-3">
            <label for="SobreNome">SobreNome:</label>
            <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="SobreNome"
                value="{{user.last_name}}">
        </div>
        <div class="mt-3">
            <label for="email">Endereço de e-mail: </label>
            <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="email"
                value="{{user.email}}">
        </div>
        <div class="mt-3 mb-5">
            <label for="Email">Usuário: </label>
            <input style="text-transform: uppercase;" type="text" class="form-control" disabled id="email"
                value="{{user.username}}">
        </div>
        <a class="btn mb-3 w-30 bg-primary text-white" href="{% url 'atualizar_Cadastro_usuario' user.id %}"
            title="Atualizar meus dados">
            <i class="fas fa-user-edit"></i>
            Atualizar Dados
        </a>
        <a class="btn mb-3 w-30 bg-primary text-white" href="{% url 'password_change' %}" title="Alterar Senha">
            <i class="far fa-sync-alt"></i>
            Alterar Senha
        </a>
        <a class="btn mb-3 w-30 bg-primary text-white" href="{% url 'inserir_foto' %}" title="Alterar Senha">
            <i class="far fa-sync-alt"></i>
            cadastrar foto
        </a>
    </div>
</form>
{% endfor %}

{% endblock centro %}